<h2>{{ ShoesTitle }}</h2>

<h4>Add New Brand</h4>
<input type="text" [(ngModel)]="myBrand" (keyup.enter)='showBrand()'/>
<button (click)='getBrand()'>Get your Brand</button>
<button (click)='addBrand()'>Add your Brand</button>
<p><strong>{{ myBrand }}</strong></p>

<h4>Only the best brands!</h4>
<ul>
    <li *ngFor="let Brand of ShoesBrands">
        {{ Brand }} <button (click)='delBrand(index)'>Delete Brand</button></li>
</ul>

<h4> {{ ShoesList }} available</h4>
<ul>
    <li *ngFor='let Shoe of Shoes'>
        <span [ngStyle]="{
            'text-decoration': !Shoe.stock ? 'line-through' : 'none'
        }">
            {{Shoe.name}} - <strong>{{Shoe.price}} mxn.</strong>
        </span>

        <span *ngIf = 'Shoe.price <= 1800'>Special Price!!!</span>
    </li>
</ul>

<h4>The most usual shoes's color is:</h4>
<input type="text" [(ngModel)]='color'>
<p>Available colors: Red, Green, Blue, Black and Brown, try it!</p>
<ul [ngSwitch]='color'>
    <li *ngSwitchCase="'red'">
        The most popular color is <span style="background:red;color:white;"> Red </span>
    </li>
    <li *ngSwitchCase="'green'">
        The most popular color is <span style="background:green;"> Green </span>
    </li>
    <li *ngSwitchCase="'blue'">
        The most popular color is <span style="background:blue;color:white;"> Blue </span>
    </li>
    <li *ngSwitchCase="'black'">
        The most popular color is <span style="background:black;color:white;"> Black </span>
    </li>
    <li *ngSwitchCase="'brown'">
        The most popular color is <span style="background:brown;color:white;"> Brown </span>
    </li>
</ul>