<h2>{{ ShoesTitle }}</h2>

<h4>Only the best brands!</h4>
<ul>
    <li *ngFor="let Brand of ShoesBrands">
        {{ Brand }}</li>
</ul>

<h4> {{ ShoesList }} available</h4>
<ul>
    <li *ngFor='let Shoe of Shoes'>
        <span [ngStyle]="{
            'text-decoration': !Shoe.stock ? 'line-through' : 'none'
        }">
            {{Shoe.name}} - <strong>{{Shoe.price}} mxn.</strong>
        </span>

        <span *ngIf = 'Shoe.price <= 1800'>Special Price!!!</span>
    </li>
</ul>

<h4>The most usual shoes's color is:</h4>
<ul [ngSwitch]='color'>
    <li *ngSwitchCase="'Red'">
        The most popular color is <span style="background:red;color:white;"> Red </span>
    </li>
    <li *ngSwitchCase="'White'">
        The most popular color is <span style="background:white;"> White </span>
    </li>
    <li *ngSwitchCase="'Blue'">
        The most popular color is <span style="background:blue;color:white;"> Blue </span>
    </li>
    <li *ngSwitchCase="'Black'">
        The most popular color is <span style="background:black;color:white;"> Black </span>
    </li>
    <li *ngSwitchCase="'Brown'">
        The most popular color is <span style="background:brown;color:white;"> Brown </span>
    </li>
</ul>