<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<p>{{ desc }}</p>

<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['active']" > Home</a>&nbsp;
  <a [routerLink]="['/shoes']" [routerLinkActive]="['active']"> Shoes</a>&nbsp;
  <a [routerLink]="['/videogames']" [routerLinkActive]="['active']"> Videogames</a>&nbsp;
  <a [routerLink]="['/courses']" [routerLinkActive]="['active']"> Courses</a>&nbsp;
  <a [routerLink]="['/external']" [routerLinkActive]="['active']"> External</a>
</nav>

<hr>

<!-- Management of routing -->
<router-outlet></router-outlet>


